h3 {
    margin: 10px 0;
    clear: both;
}

ul.normal {
    width: 500px;
}

ul.float {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.float li {
    float: left;
    margin: 10px;
}

ul.inline {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

li {
    padding: 5px;
}

div {
    margin: 2px;
    padding: 2px;
}
